/* 
*    For gradients 
*    http://css-tricks.com/css3-gradients/
*   https://kuler.adobe.com/
*/

@font-face {
    font-family: Lobster;
    src: url(res/fonts/Lobster.ttf);
}

a {
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
}

article {
    width: 640px; 
    max-width: 100%;
}

#chaos-pad {

    opacity: .8;
    width: 640px; 
    height: 640px;
    max-width: 100%;
    max-height: 100%;
    background-attachment: scroll;
    box-shadow: 0 0 10px rgba(0,0,0,.7) inset;
    /* Para que que este siempre el cuadrado inbounds */
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    /* GRADIENT BACKGROUND */
    background-image: -moz-radial-gradient(300px, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
    background-image: -ms-radial-gradient(300px, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
    background-image: -webkit-radial-gradient(300px, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
    background-image: -o-radial-gradient(300px, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
    background-image: radial-gradient(300px, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)',
        endColorstr='rgba(255, 255, 255, 0)', GradientType=1);
}

#chaos-bg {
    background-color: #3366FF;
    transition-duration: 5s;
    -webkit-transition-duration: 5s; /* Safari */
}

canvas {
    width: 100%;
    height: 100%;
}

.row-center {
    display: flex;
    justify-content: center;
}

.column-center {
    height: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
    margin: 20px;
    text-align: center;
    display: block;
}

.param {
    border-radius: 3px 3px 0 0;
    font-family: Arial;
    font-size: 1.6em;
    letter-spacing: -1px;
    font-weight: bolder;
    color: #999999;
    font-variant: small-caps;
    padding: 6px 12px 6px 12px;
    background-color: #43FFB788;
}

.param:hover {
    opacity: 1;
}

.param span {
    color: #AAAAAA;
}

.lbl {
    font-family: Lobster;
    border-radius: 0 0 3px 3px;
    background-color: #D2D2D3;
    padding: 6px 12px 6px 12px;
}

.clickable {
    cursor: pointer;
}